---
import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props
console.log(blok)

const HandleHomeRedirection = (url) => {
    if(url === "home"){
        return ""
    }
    return url;
}
---

<div {...storyblokEditable(blok)}>
    <a class="text-lg" href={HandleHomeRedirection(blok.button_link?.cached_url)}>{blok.button_label}</a>
</div>
